.flat-user {
  // position: absolute;
  // right: 10px;
  // top: 10px;
  width: 150px;
  border-radius: 50%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
